html, body {
   font-family: "Roboto Serif", serif;
  background-color: #C88BD3;
  color: rgb(0,0,0);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font size: 35px;
  background-image: url(fundo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

}
 
footer{
   font-family: "Shadows Into Light", cursive;
}

.botao{
   font-family: "Teko", sans-serif;
}